---
export const prerender = false
import Layout from '../../layouts/Layout.astro'
import '../../styles/global.css'
import { UsersManage } from '../../components/UsersManage'
import { AgencyManage } from '../../components/AgencyManage'

const cookie = Astro.request.headers.get('cookie')
const cookies = Object.fromEntries(
    cookie?.split('; ').map((cookie) => cookie.split('=')) ?? [],
)
---

<Layout>
    {
      cookies.id_role == 1 ? (
        <h1 class="text-center text-4xl font-bold mb-10">Administrador Page</h1>
        <div class="flex justify-between ml-10 mr-10 flex-wrap">
            <UsersManage client:load />
            <AgencyManage client:load />
        </div>
      ) : (
        <h1 class="text-center text-4xl font-bold mb-10">
            You dont have the privileges to access this page
        </h1>
      )
    }
</Layout>
